:root {
  --color1: #f5fafa;
  --color2: #000000;
}

body {
  background-color: #fcf63f;
}

/* Общее оформление блоков */
.date,
.notes,
.note,
.case,
.case__column {
  background-color: var(--color1);
  border-radius: 30px;
}

/* Дата */
.date {
  padding: 10px;
}
.input-date {
  width: 60%;
  border-radius: 30px;
  padding: 10px;
}

/* Заметки */
.notes {
  padding: 20px;
}
.note {
  padding: 15px;
  text-align: justify;
  border: 2px solid black;
}

/* Уровни работы */
.case {
  padding: 20px;
}
.case__column {
  border: 2px solid var(--color2);
  padding: 10px;
}
.case__level {
  border: 2px solid var(--color2);
}
