:root {
  --color1: #f5fafa;
  --color2: #000000;
}

body {
  background-color: #fcf63f;
}

/* Общее оформление блоков */
.date,
.notes,
.note,
.case {
  background-color: var(--color1);
  border-radius: 30px;
}

.btn-check:focus + .btn-primary,
.btn-primary:focus {
  border: none;
  box-shadow: none;
}

/* Дата */
.date {
  padding: 10px;
}
.input-date {
  text-align: center;
  width: 100%;
  background-color: var(--color1);
}

/* Заметки */
.notes {
  padding: 20px;
}
.note {
  margin-bottom: 15px;
  padding: 15px;
  text-align: justify;
  border: 2px solid black;
  word-break: break-all;
}
.note:last-child {
  margin-bottom: 0;
}
.note__header {
  display: grid;
  grid-template-columns: 25% 50% 45%;
  text-align: center;
}
.note__data {
  color: grey;
}
.note-del {
  margin: 0 auto;
  border: none;
  width: 30px;
  background-color: var(--color1);
  z-index: 0;
  position: relative;
}
.fa-trash {
  font-size: 25px;
  z-index: -1;
  position: relative;
}

/* Уровни работы */
.case {
  padding: 20px;
}
.case__column {
  border: 1px solid var(--color2);
  border-radius: 30px;
  padding: 10px;
}
.case__title {
  display: grid;

  margin-bottom: 15px;
}
.fa-plus,
.fa-minus {
  font-size: 20px;
  z-index: -1;
  position: relative;
}
.btn-plus,
.btn-minus {
  border: none;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  margin: 0 auto;
  padding-top: 3px;
  z-index: 1;
  position: relative;
}
.case__item {
  display: grid;
  text-align: center;
  background-color: gainsboro;
  border-radius: 30px;
  padding: 10px;
  margin-bottom: 10px;
  word-break: break-all;
}
.case__item:last-child {
  margin-bottom: 0;
}

/* Модальные окна */
.error {
  margin: 0;
  font-weight: bold;
  color: red;
  transition: 1s;
  opacity: 0;
}
